form {
    display: flex;
    flex-flow: column wrap;
}

.new-form {
    & .inputs {
        display: flex !important;
        align-items: center;
        gap: 10px;
        height: 100%;

        & input {
            height: 30px;
            border-radius: 10px;
            outline: 1px solid grey;
            border: none;

            &:hover {
                outline: 1px solid green;
                cursor: pointer;
            }

            &:focus {
                cursor: text;
            }
        }
    }

    input {
        height: 30px;
        border-radius: 10px;
        outline: 1px solid grey;
        border: none;
    }

    &.left-aligned {
        align-self: flex-start;
        height: 100%;
        width: 100%;
        justify-content: space-around;
    }

    &.centered {
        align-self: center;
        height: fit-content;
        width: 80%;

        & .inputs {
            margin-top: 10px;
        }
    }
}