#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

h1 {
    font-family: "Bentham", serif;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
}

.page-title {
  position: sticky;
  width: 100%;
  margin-top: 50px;
  height: fit-content;
  background-color: #ebdcf7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.page-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background-color: #ebdcf7;
  height: 100%;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.adding {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: sticky;
}

.adding > button {
  width: 80%;
}

.searching {
  width: 50%;
}

.inputs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
}

button:hover {
  outline: 1px solid #cde7ca;
}